<h1>Biografia</h1>
<p>Nombre: César Alejandro Mejía López</p>
<br>
<p>Numero de Cuenta: 0801-1993-22243</p>
<br>
<p>Numero de Telefono: 96307847</p>
<br>
<p>Correo Electronico: checha365@gmail.com</p>
<br>
<p>Estudie en primaria en la escuela MY HOUSE SCHOOL, en la secundaria estudie en el INSTITUTO TECNICO HONDURAS, actualmente curso el ultimo año de la carrera de INGENIERIA EN CIENCIAS DE LA COMPUTACION en la UNIVERSIDAD CATOLICA DE HONDURAS</p>